@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    line-height: 1;
    color: #333;
}

.cont01 {
    background-color: #fff;
    height: 100vh;
    align-items: center;
    display: flex;

}
.cont01>div {
    max-width: 1280px;
    width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;

}

.cont01>div img {
    width: 50%;
    height: 70vh;
    object-fit: cover;

}
.cont01>div .info {
    width: 50%;
    padding-left: 50px;
}
.cont01>div .info strong {}

.cont01>div .info h3 {
    margin: 5px 0 15px;
    font-size: 25px;

}
.cont01>div .info p {}
.cont01>div .info button {
    height: 40px;
    padding: 0 30px;
    border: 0;
    background-color: #0059ff;
    color: #fff;
    border-radius: 5px;
    margin-top: 40px;
    cursor: pointer;
}

/* 화면 1024px 이하일때 */

@media screen and (max-width:1024px) {
    .cont01 > div {
        display: block;        
    }

    .cont01>div img {
        width: 100%;
        height: 40vh;
    }

    .cont01>div .info{
        width: 100%;
        padding-left: 0;
        margin-top: 20px;
    }

     
   
}
